Importing libraries and loading data

In [5]:
import pandas as pd
import numpy as np

data = pd.read_csv("ai_job_trends_dataset.csv")

Checking for empty rows

In [ ]:
data.isna().sum()
#Since there are no empty columns, there is no need to fix

Job Title                      0
Industry                       0
Job Status                     0
AI Impact Level                0
Median Salary (USD)            0
Required Education             0
Experience Required (Years)    0
Job Openings (2024)            0
Projected Openings (2030)      0
Remote Work Ratio (%)          0
Automation Risk (%)            0
Location                       0
Gender Diversity (%)           0
dtype: int64

Looking for incorrect data types

In [ ]:
print(data.dtypes)
#It seems that all the data types are already correct and in pandas the object type is the correct data type for text/string columns

Job Title                       object
Industry                        object
Job Status                      object
AI Impact Level                 object
Median Salary (USD)            float64
Required Education              object
Experience Required (Years)      int64
Job Openings (2024)              int64
Projected Openings (2030)        int64
Remote Work Ratio (%)          float64
Automation Risk (%)            float64
Location                        object
Gender Diversity (%)           float64
dtype: object

Checking for duplicates

In [21]:
data.duplicated().sum()
#No duplicates

np.int64(0)

Lookign for outliers

In [ ]:
data.describe()
#Taken into account what this dataset is about, there is no possible outliers honestly

,Median Salary (USD),Experience Required (Years),Job Openings (2024),Projected Openings (2030),Remote Work Ratio (%),Automation Risk (%),Gender Diversity (%)
count,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000,30000.000000
mean,90119.965639,10.051433,5039.640833,5074.218100,49.836431,50.154229,49.979660
std,34412.013953,6.060678,2861.009654,2866.550722,28.966688,28.754889,17.274665
min,30001.860000,0.000000,100.000000,100.000000,0.000000,0.000000,20.000000
25%,60500.702500,5.000000,2570.000000,2586.750000,24.570000,25.400000,35.070000
50%,90274.115000,10.000000,5034.000000,5106.500000,49.570000,50.020000,49.885000
75%,119454.710000,15.000000,7527.000000,7573.000000,75.100000,75.030000,64.910000
max,149998.500000,20.000000,10000.000000,10000.000000,100.000000,99.990000,80.000000

Checking common rules

In [ ]:
data[data['Median Salary (USD)'] <= 0]
data[data['Experience Required (Years)'] < 0]
data[data['Job Openings (2024)'] < 0]
data[data['Projected Openings (2030)'] < 0]
data[data['Remote Work Ratio (%)'] < 0]
data[data['Automation Risk (%)'] < 0]
data[data['Gender Diversity (%)'] < 0]
#No rules broken

Empty DataFrame
Columns: [Job Title, Industry, Job Status, AI Impact Level, Median Salary (USD), Required Education, Experience Required (Years), Job Openings (2024), Projected Openings (2030), Remote Work Ratio (%), Automation Risk (%), Location, Gender Diversity (%)]
Index: []

The dataset has been cleaned and we save it as a new clean csv

In [ ]:
data.to_csv("cleaned_data.csv", index=False)